<div *ngIf="!loading && !data" class="d-flex justify-content-center align-items-center vh-100">
  <div  class="d-flex card justify-content-center" style="width: 40rem; height: 20rem; padding: 20px;">
    <form name="form" (ngSubmit)="submit()">
      <label class="form-control-label" for="code">Country Code</label>
      <input class="form-control" name="code" id="code" [(ngModel)]="code"/>
      <button class="btn btn-primary mt-2" type="submit">Search</button>
    </form>
  </div>
</div>

<div *ngIf="loading" class="d-flex justify-content-center align-items-center vh-100">
  <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div class="container-fluid" *ngIf="!loading && data && data.length > 0">
  <button type="button" (click)="data = undefined;" class="btn btn-primary mt-3">Voltar</button>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th class="td-sm">ID</th>
        <td class="td-sm">Year</td>
        <td class="td-sm">Country</td>
        <td class="td-sm">Value</td>
        <td class="td-md">Indicator</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data | paginate: { itemsPerPage: search.per_page, currentPage: search.page, totalItems: pageData.total }" >
        <th scope="row">{{item.indicator?.id}}</th>
        <td>{{item.date}}</td>
        <td>{{item.country?.value}}</td>
        <td>{{item.value}}</td>
        <td>{{item.indicator?.value}}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel=""
      nextLabel=""
      [responsive]="true"
      (pageChange)="loadPage($event)">
    </pagination-controls>
  </div>
</div>
